<%- include("partials/header") -%>


<!-- Your error message here -->
<p>A blog with the same title already exists. Please choose a different title.</p>

<!-- Add a "Try Again" button that redirects to the home page -->
<a href="/compose" class="btn btn-primary">Try Again</a>


<%- include("partials/footer") -%>